docs
node_modules
node_modules/
.pnpm-store/


.env
.env.local
.env.development
.env.production



logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*



pids/
*.pid
*.seed
*.pid.lock



coverage/



dist/
build/



.DS_Store
Thumbs.db



.vscode/
.idea/
*.swp
*.swo



*.tgz
*.cache
